.adminlist {
  li {
    margin-bottom: 2em;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.3rem;
      font-size: 800;
    }
  }
}
.icon-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: 3em 2em;
  gap: 2em;
}

.image-icon {
  width: 200px;
  height: 100px;
}

.container-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 3em;
  border: 2px solid rgb(190, 166, 166);
  padding: 0.5em;
}

.text {
  padding: 1em;
}
